*{
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: green;
}

button:hover{
    background-color: rgb(0, 101, 0);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{color: green;}

header{
    background-color: rgb(245,245,245);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: green;
    font-size: 1.7em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;   
}

header a:hover{
    color: green;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Assets/Hero-Pomerania.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#curiosidades .container{
    text-align: center;
    padding: 200px 12px;
}

#historia-pomerania{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#historia-pomerania .container{
    padding: 150px 12px;
}

#historia-pomerania h2{
    margin-top: 0;
    font-size: 3.2em;
}

#historia-pomerania p{
    display: none;
}

#historia-pomerania .carta{
    background-size: cover;
    background-position: center center;
    padding: 100px 0px;
    margin: 30px;
    border-radius: 40px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Assets/Historia-Pomerania.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Assets/Carac-Pomerania.jpg");

}

.carta:nth-child(3){    
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Assets/Aspecto-fisico-Pomerania.jpg");

}

#caracteristicas .container{
    text-align: center; 
    padding: 250px 12px;
    font-size: 25px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bolder;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(245,245,245);
}

footer a{
    margin: 0;
    padding: 12px;
    color: rgba(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
    flex-direction: row;
    justify-content: space-between;
    }
    
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #curiosidades .container{
        display: flex;
        justify-content: space-evenly;
    }

    #curiosidades .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        padding: 0px 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #curiosidades h2{
        margin-top: 0;
    }

    #curiosidades .img-contenedor{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        ),url("Assets/Sobre-ellos.jpg");
        background-size: cover;
        background-position: center center;
        right: 500px;
        width: 400px;
    }

    #historia-pomerania .programas{
        display: flex;
        justify-content: center;
    }

    #historia-pomerania p{
        display: block;
    }

    #historia-pomerania h3{
        margin-top: 0;
    }

    #historia-pomerania .carta{
        padding: 50px;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    #caracteristicas{
        background-image: url("Assets/Background.jpg");
        background-repeat: no-repeat;
        background-size: 600px 600px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width:1400px){
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}